@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap");
a.mylink:hover{
	cursor: pointer;
}

.body {
	background-color: #f5f3ef;
	color: #1a1a1a;
	font-family: 'Lato', sans-serif;
}

.bg-profile-card{
    /* display: block; */
    height: 40vmin;
    position: relative;
    background-color: #fbd691;
    border-bottom-left-radius: 50% 75px;
    border-bottom-right-radius: 50% 75px;
}

.img-circle{
	border-radius: 8em;
	border: .5em solid #f5f3ef;
	width: 15em;
}

.mylink {
	/* text-decoration: none; */
	color: #1a1a1a;
	/* text-decoration: underline;
	text-decoration-color: #de0c19;
	text-decoration-thickness: .2em; */
}

.profile-name{
	font-family: 'Dr Sugiyama', cursive;	
	font-weight: bold;
	font-size: 2.5em;
}

.profile-info{
	font-size: 1.2em;
}

.column{
    position: relative;
    margin-top: -5vmin;
    height: auto;
    width: 100%;
}

.column .rightcenter{
    position: absolute;
    right: 0;
    height: auto;
    width: 5%;
    margin-right: 9%;
    margin-top: -13%;
}

.column .rightcenter2{
    position: absolute;
    right: 0;
    height: auto;
    width: 6%;
    margin-right: 15%;
    margin-top: -15%;
}

.column .rightcenter3{
    position: absolute;
    right: 0;
    height: auto;
    width: 4%;
    margin-right: 20%;
    margin-top: -12%;
}

.column .right{
    position: absolute;
    right: 0;
    height: auto;
    width: 8%;
    margin-top: -15%;
}

.alert {
	margin-bottom: 0;
}

.navbar-brand{
	font-size: 1.5em;
	font-weight: bold;
}

.navbar-brand, .nav-link{
	font-family: "Playfair Display", serif;
}

.navbar-nav {
	justify-content: space-between;
}

.bg-light{
	background-color: #fbd691 !important;
}