@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap");


body {
	background-color: #f5f3ef !important;
	color: #1a1a1a;
	font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.img-circle{
	border-radius: 8em;
	border: .5em solid #f5f3ef;
	width: 12em;
}

#profile {
    border: 2px solid #1a1a1a;
    border-radius: .5em;
    padding: 1em;
}

.profile2{
    padding: 1em;
}

.profile-name{
	font-family: 'Dr Sugiyama', cursive;	
	font-weight: bold;
	font-size: 5em;
}

.underline{
    text-decoration: underline;
    text-decoration-color: #de0c19;
    text-underline-offset: .2em;
}

.profile-info{
    font-size: .8em;
    background-color: #f5f3ef;
    border: 1px solid #f5f3ef;
    border-radius: .5em;
    padding: .5em;
    font-weight: bold;
}

.alert {
	margin-bottom: 0;
}

.my-card {
    background-color: #fbd691;
    padding: 1em;
    /* border: solid .3em white; */
    border-radius: 1em;
    margin: 1em 0;
}

/* nav bar ni gwen */
/* Navigation Bar */
.mycontainer .mynavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    background-color: #fbd691;
    font-family: "Playfair Display", serif;
}

.mycontainer .mynavbar .logo{
    display: flex;
    align-items: center;
    position: relative;
}

.mycontainer .mynavbar .logo h1{
    font-size: 24px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

.mycontainer .mynavbar .test{
    display: inline-block;
    padding: 5px 15px ;
    align-items: center;
    font-family: "Playfair Display", serif;
}
.mycontainer .mynavbar .test a{
    padding: 5px 15px ;
    color: #000000;
    text-decoration: none;
    font-size: 2.5vmin;
    font-weight: normal;
}

.mycontainer .mynavbar .test a:hover{
    color: #ffff;
}

.mycontainer .mynavbar .navs{
    margin-left: 10vmin;
}
.mycontainer .mynavbar .navs li{
    display: inline-block;
    padding: 5px 30px;
    align-items: center;
    font-size: 2.5vmin;
}

.mycontainer .mynavbar .navs a{
    text-decoration: none;
    color: #000000;
    padding: 10 5px;
    position: relative;
}

.mycontainer .mynavbar .navs a:hover{
    color: #ffff;
}

/* Login/Logout/Signup */
.logout{
    padding: 9px 25px;
    background-color: #ffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline:none;
    transition:0.8s;
    font-family: "Playfair Display", serif;
    font-size: 2.5vmin;
}

.logout:hover{
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
    transition: all 0.4s;
    color: #fbd691;
}

.signup{
    padding: 9px 25px;
    background-color: #ffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline:none;
    transition:0.8s;
    font-family: "Playfair Display", serif;
    font-size: 2.5vmin;
}

.signup:hover{
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
    transition: all 0.4s;
    color: #fbd691;
}