@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap");

* {
    box-sizing: border-box;
    transition-duration: .2s;
    
}


/* .addrecipe{
    height: 50px;
    width: 95%;
} */

/* .labels{
    font-family: Roboto, Sans-serif;
    width: 100px;
    display: inline-block;
} */

/* .input_box{
    margin: 1rem 0.2rem;
} */
/* 
.steps_box{
    margin: 1rem 0.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    align-content: initial;

} */

.step_btn{
    border-radius: 1em;
    border: 1px solid #1a1a1a;
}

.step_btn:hover{
    background-color: #fbd691;
    color: #f5f3ef;
}

/* .add_steps{
    resize: none;
    margin-left: 104px;
    width: 65%;
} */

/*Add Ingredients===============================*/

/* .add_ingre{
    margin-top: 0.25rem;
    margin-left: 104px;
    width: 65%;
} */

.ingre_btn{
    border-radius: 1em;
    border: 1px solid #1a1a1a;
}
.ingre_btn:hover{
    background-color: #fbd691; 
    color: #f5f3ef;
}
/*Description===============================*/
/* .desc_box{
    margin: 1rem 0.2rem;
    display: flex;
    gap: 0.3rem;
    align-content: initial;

} */

/* .desc{
    resize: none;
    width: 65%;
} */
/*Category===============================*/
.categ_box{
    margin: 1.5rem 0.2rem;
    display: flex;
}

/* .categbtn{
    border-radius: 4px;
    padding: .5em;
} */

.categbtn:hover{
    background-color: #fbd691; 
    color: #f5f3ef;
}
/* 
.btn_container{
    display: flex;
    width: 80%;
    justify-content: center;
}

.btn_container button{
    width: 30%;
    margin: 0.25rem 0.5rem;
} */
/*Cook Time ===============================*/
/* .cook_box{
    margin: 1rem 0.2rem;
    display: flex;
} */



/*Servings===============================*/

/* .serve_count{
    width: 15%;
} */

.submitbtn {
    display: flex;
    justify-content: center;
}

.recipesubmit {
    background-color: #1a1a1a;
    padding: 1em;
    border-radius: .5em;
    border: 3px solid #1a1a1a;
    color: #f5f3ef;
    font-weight: bold;
    margin: 1em;
}

.recipesubmit:hover{
    transform: translateY(-.1em);
    background-color: #fbd691; 
    color: #1a1a1a;
}

legend{
    text-align: center;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.title{
    text-decoration: underline;
    text-decoration-color: #de0c19;
    text-underline-offset: .2em;
    font-family: 'Dr Sugiyama', cursive;	
	font-weight: bold;
	font-size: 4em;
    display: flex;
    justify-content: center;
}
  
.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    padding: .5em;
    border: 2px solid #161616;
    border-radius: 1em;
    font-weight: bold;
}

.radio-toolbar label:hover {
    background-color: #fbd691;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #fbd691;
    color: #f5f3ef;
}
  
body{
    margin: 0;
    /* padding: 0;
    height: 100%;
    width: 100%; */
    background-color: #fbd691;
    font-family: 'Lato', sans-serif;
    background-image: url("clipart.png");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: left bottom;
    background-attachment: fixed;
}
.container .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    background-color: #fbd691;
    font-family: "Playfair Display", serif;
}

.container .navbar .logo{
    display: flex;
    align-items: center;
    position: relative;
}

.container .navbar .logo h1{
    font-size: 24px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

.container .navbar .test{
    display: inline-block;
    padding: 5px 15px ;
    align-items: center;
    font-family: "Playfair Display", serif;
}
.container .navbar .test a{
    padding: 5px 15px ;
    color: #000000;
    text-decoration: none;
    font-size: 2.5vmin;
}

.container .navbar .test a:hover{
    color: #ffff;
}

.container .navbar .navs{
    margin-left: 10vmin;
}
.container .navbar .navs li{
    display: inline-block;
    padding: 5px 30px;
    align-items: center;
    font-size: 2.5vmin;
}

.container .navbar .navs a{
    text-decoration: none;
    color: #000000;
    padding: 10 5px;
    position: relative;
}

.container .navbar .navs a:hover{
    color: #ffff;
}

.logout{
    padding: 9px 25px;
    background-color: #ffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline:none;
    transition:0.8s;
    font-family: "Playfair Display", serif;
    font-size: 2.5vmin;
}

.logout:hover{
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
    transition: all 0.4s;
    color: #fbd691;
}

.signup{
    padding: 9px 25px;
    background-color: #ffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline:none;
    transition:0.8s;
    font-family: "Playfair Display", serif;
    font-size: 2.5vmin;
}

.signup:hover{
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
    transition: all 0.4s;
    color: #fbd691;
}

.input, .textarea, .input_box{
    min-height: 50px;
    border-radius: .5em;
    /* border: .1em solid #1a1a1a; */
    border: none;
    display: block;
    width: 100%;
    background-color: #f5f3ef;
    padding: 1em;
    margin-top: 1em;
    transition-delay: 0;
}

.input_box {
    background-color: #fbd691;
}

.textLabel {
    font-size: 1em;
    font-weight: bold;
    margin-right: 0.5rem;
}

.textarea{
    resize: vertical; 
    width: 100%; 
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
    width: 50%;
    padding: 0 0.5rem 0 0;
}

.minservings {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

/* .ingre{
    margin-top: 5px;
    height: 30px;
    width: 100%;
} */
/* 
.steps{
    margin-top: 5px;
    height: 40px;
    width: 100%;
    resize: vertical;
} */

/* .mins_count{
    width: 15%;
    margin: 0 0.25rem;
} */

.fieldSet{
    width: 50%;
    margin: auto; 
    border: .3em solid #1a1a1a;
    border-radius: 1em;
    padding: 1em;
    font-family: 'Lato', sans-serif;
    color: #1a1a1a;
    background-color: #f5f3ef;
}

@media screen and (max-width: 1080px){
    .fieldSet{
        width: 70%;
        height: auto;
    }

    .recipesubmit{
        margin-left: 0;
    }

    .radio-toolbar{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
    }
}


/* START OF BG
@import url('https://fonts.googleapis.com/css?family=Roboto');

body,
html {
    background-color: #fbd691;
}

.mycontainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding-left: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px 50px;
}

.mycontainer .hero .logo {
    display: flex;
    align-items: center;
    position: relative;
}

.mycontainer .hero .logo h1 {
    font-size: 20px;
}

.clipart {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 60%;
} */

