@import url("https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap");
.formbg{
    background: white;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

.formcontainer{
    background-color: #fbd691;
    width: 40vw;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    height: 550px;
    overflow-y: scroll;
}

.addrecipe{
    width: 95%;
}

.labels{
    font-family: Roboto, Sans-serif;
    width: 100px;
    display: inline-block;
}

.input_box{
    margin: 1rem 0.2rem;
}

.input_style{
    width: 65%;
}

.barline{
    border: 1px solid lightgray;
    width: 100%;
    border-radius: 2px;
}
/*Add Steps===============================*/

.steps_box{
    margin: 1rem 0.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    align-content: initial;

}

.steps{
    width: 65%;
    resize: none;
}

.step_btn{
    border-radius: 4px;
}

.step_btn:hover{
    background-color: de0c19;
    color: white;
}

.add_steps{
    resize: none;
    margin-left: 104px;
    width: 65%;
}

/*Add Ingredients===============================*/
.ingre_box{
        margin: 1rem 0rem;
        padding-left: 0.25rem;
    }

.ingre{
    width: 65%;
}

.add_ingre{
    margin-top: 0.25rem;
    margin-left: 104px;
    width: 65%;
}

.ingre_btn{
    border-radius: 4px;
}
.ingre_btn:hover{
    background-color: de0c19; 
    color: white;
}
/*Description===============================*/
.desc_box{
    margin: 1rem 0.2rem;
    display: flex;
    gap: 0.3rem;
    align-content: initial;

}

.desc{
    resize: none;
    width: 65%;
}
/*Category===============================*/
.categ_box{
    margin: 1rem 0.2rem;
    display: flex;
}

.categbtn{
    border-radius: 4px;
}

.categbtn:hover{
    background-color: de0c19; 
    color: white;
}

.btn_container{
    display: flex;
    width: 80%;
    justify-content: center;
}

.btn_container button{
    width: 30%;
    margin: 0.25rem 0.5rem;
}
/*Cook Time ===============================*/
.cook_box{
    margin: 1rem 0.2rem;
    display: flex;
}

.mins_count{
    width: 10%;
    margin: 0 0.25rem;
}

/*Servings===============================*/

.serve_count{
    width: 10%;
}

.recipesubmit {
    font-weight: 400;
    font-size: 15px;
    padding: 5px 30px;
    color: #000000;
    cursor: pointer;
    border-radius: 50px;
    background: #ffffff;
    border: none;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 33%;
}

.recipesubmit:hover{
    transform: translateY(-5px);
    background-color: de0c19; 
    color: white;
}

.ttl{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.radio-toolbar {
    margin: 10px;
  }
  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label {
      display: inline-block;
      background-color: #ddd;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid #444;
      border-radius: 4px;
      width: 100px;
      text-align: center;
      padding: 1px;
  }
  
  .radio-toolbar label:hover {
    background-color: rgb(201, 57, 32);
  }
  
  .radio-toolbar input[type="radio"]:focus + label {
      border: 2px solid #444;
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: rgb(211, 84, 84);
      border-color: rgb(0, 0, 0);
      color: white;
  }
  
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: white;
}

.container .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    background-color: #fbd691;
    font-family: "Playfair Display", serif;
    font-weight: normal;
}

.container .navbar .logo{
    display: flex;
    align-items: center;
    position: relative;
}

.container .navbar .logo h1{
    font-size: 24px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

.container .navbar .test{
    display: inline-block;
    padding: 5px 15px ;
    align-items: center;
    font-family: "Playfair Display", serif;
}
.container .navbar .test a{
    padding: 5px 15px ;
    color: #000000;
    text-decoration: none;
    font-size: 2.5vmin;
}

.container .navbar .test a:hover{
    color: #ffff;
}

.container .navbar .navs{
    margin-left: 10vmin;
}
.container .navbar .navs li{
    display: inline-block;
    padding: 5px 30px;
    align-items: center;
    font-size: 2.5vmin;
}

.container .navbar .navs a{
    text-decoration: none;
    color: #000000;
    padding: 10 5px;
    position: relative;
}

.container .navbar .navs a:hover{
    color: #ffff;
}

.logout{
    padding: 9px 25px;
    background-color: #ffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline:none;
    transition:0.8s;
    font-family: "Playfair Display", serif;
    font-size: 2.5vmin;
}

.logout:hover{
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
    transition: all 0.4s;
    color: #fbd691;
}

.signup{
    padding: 9px 25px;
    background-color: #ffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline:none;
    transition:0.8s;
    font-family: "Playfair Display", serif;
    font-size: 2.5vmin;
}

.signup:hover{
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
    transition: all 0.4s;
    color: #fbd691;
}

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    grid-column-gap: 2em;
}

.main-text {
    grid-column: 2 / -2;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
}

.main-grid .main-text p{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    line-height: 1.4rem;
}
 
.main-grid .main-text img{
    margin-top: -40px;
    width: 100%;
    height: auto;
}
section{
    width: 100%;
    height: 40%;
    position: relative;
}

.section-title{
    font-size: 2em;
    font-family: "Playfair Display", serif;
}
.section-title::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin-top: 20px;
    background: #fbd691;
    margin-left: auto;
    margin-right: auto;
}

.section-heading-block .section-title {
    font-size: 2.5em;
    font-weight: 600;
}

.section-heading-block {
    text-align: center;
    width: 70%;
    position: relative;
    margin: 20px auto;
}

.section-heading-block .section-title {
    font-size: 2.5em;
    font-weight: 600;
}

.timeline{
    position: relative;
    width: 100%;
}
.timeline ul li{
    position: relative;
    width: 50%;
}
.timeline::before{
    content: '';
    position: absolute;
    height: 80%;
    width: 2px;
    background-color: #010001;
    left: 50%;
    top: 10%;
}
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.timeline ul li:nth-child(odd) .content{
    margin-right: 100px;
}
.timeline ul li:nth-child(even) .content{
    margin-left: 100px;
}
.timeline ul::after{
    content: '';
    display: table;
    clear: both;
}
.timeline ul li:nth-child(odd)::before{
    content: '';
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: grey;
    border-radius: 50%;
    right: -58px;
    top: 50%;
    transform: translate(0%, -50%);
    border: 3px solid #fbd691;
}
.timeline ul li:nth-child(even)::before{
    content: '';
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: grey;
    border-radius: 50%;
    left: -90px;
    top: 50%;
    transform: translate(0%, -50%);
    border: 3px solid #fbd691;
}
.content{
    padding: 50px 5px;
}
.timeline ul li:nth-child(1)::before{
    background-image: url(gwen.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.timeline ul li:nth-child(2)::before{
    background-image: url(lyka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.timeline ul li:nth-child(3)::before{
    background-image: url(merin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.timeline ul li:nth-child(4)::before{
    background-image: url(alvin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.timeline ul li:nth-child(5)::before{
    background-image: url(afox.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.timeline ul li:nth-child(6)::before{
    background-image: url(rada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

ul, ol{
    list-style: none;
}

.content h2{
    font-family: 'Dr Sugiyama', cursive;
    color: #010001;
}

.content p{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}